@(message: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to Play and Vue</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script type="text/javascript" src="@routes.JsRouter.javascriptRoutes"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>

    </head>
    <body data-ws-url="@routes.HomeController.socket.webSocketURL(request)">
        <h2>@message</h2>
        <div id="app">
            {{ message }}
        </div>
        <div id="example">
            <h3>Client side counter:</h3>
            <simple-counter></simple-counter>
            <br/>
            <h3>Server side counter:</h3>
            <server-counter></server-counter>
        </div>
        <script> var socket = new WebSocket($("body").data("ws-url").toString()) </script>
        <script src="@routes.Assets.versioned("javascripts/vue/main.js")" type="text/javascript"></script>

    </body>
</html>
